html {
  --bg: #fff;
  --text: #976DD0;
  --number: #5A6978;
  --number-ligther: black;
  --icon: #171717;
}
// dark theme
html[data-theme="dark"] {
  --bg: #171717;
  --text: #976DD0;
  --number: white;
  --number-ligther: yellow;
  --icon: #fff;
}

// Colors
$bg: var(--bg);
$text: var(--text);
$number: var(--number);
$light-shadow: #031b4e;
$text-2: var(--number-ligther);
$icon: var(--icon);

// shared
%link-base {
  text-decoration: none;
  color: $text;
}

:export {
  text: $text;
  number: $number;
  iconcolor: $icon;
}
