@import "./variables.scss";

.box {
  border: 1px solid $text;
  padding: 10px;
  width: 250px;
  margin: 10px;

  &:hover,
  &:active {
    box-shadow: 0 10px 20px rgba($light-shadow, .08);
    transition: box-shadow .25s linear, box-shadow .25s linear;
  }
}

.name {
  color: $text;
  text-align: center;
  margin-bottom: 0;
}

.exchange {
  display: flex;
  justify-content: space-evenly;
}

.exchange p {
  color: $text-2;

  span {
    display: block;
    color: $number;
    text-align: center;
  }
}

.no_data {
  opacity: 0.5;
  cursor: not-allowed;
}